body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  #navbar {
    background-color: #333;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-around;
    padding: 1em 0;
  }
  #title{
    margin: 0;
    font-family: Arial, sans-serif;
  }
  #navbar ul {
    list-style-type: none;
    padding: 0;
  }
  
  #navbar a {
    color: white;
    text-decoration: none;
  }
  
  #navbar a:hover {
    color: #ddd;
  }
  
  section {
    padding: 2em;
    margin-top: 1em;
  }
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: sticky;
    bottom: 0;
  }
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 15px;
    text-align: center;
  }